@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'Passion One', cursive;
    src: url(fontes/Passion_One/PassionOne-Bold.ttf) format('truetype');
}
:root{
    --fonte-destaque:'Passion One', sans-serif;
    --fonte-destaque-bold:'Passion One', sans-serif;
    --fonte-padrão:'Sriracha';
    --fonte-comum: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;    
}

a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
      font-family: var(--fonte-destaque);
      font-weight: normal;
      padding-top: 50px; 
      font-size: 68px;
      font-variant: small-caps;    
}

aside{
    font-family: var(--fonte-comum);
    padding-bottom: 50px;
    
}
main{
    font-family: var(--fonte-padrão);
    font-size: 23px;
    line-height: 2em;
    
}

div{
    margin-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}


#container2{
    position: relative;
    min-height: 400px;
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

#q2 {
    position: absolute;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    padding: 10px;
    top: 50%;

    transform: translate(0, -50%);
}



#container4{
    position: relative;
    min-height: 400px;
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#q4{
    position: absolute;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    padding: 10px;
    top: 50%;

    transform: translate(0, -50%);
}



footer{
    font-family: var(--fonte-comum);
    background-color: black;
    color: white;
    text-align: center;
}

footer>p{
    padding: 10px 0px 10px 0px;
}