@charset "UTF-08";

* {
    font-family: Arial, Helvetica, sans-serif;  
}

body{
    background-image:linear-gradient(to bottom,#3F6973 80%, #7BA6A6);   
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d3d1c4a1;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: #132730;
    text-shadow: 2px 1px 2px #7BA6A6;
}

h2{
    color:#294044 ;
}

p{
    text-align: justify;
}